
    <div class="container">
    
        <h1>Bootstrap template</ht>
        <ul>
          <li><a href="<%= @jumbotron_link %>">jumbotron</a></li>
          <li><a href="<%= @carousel_link %>">carousel</a></li>
          <li><a href="<%= @starter_template_link %>">starter-template</a></li>
          <li><a href="<%= @grid_link %>">grid</a></li>
          <li><a href="<%= @jumbotron_narrow_link %>">jumbotron-narrow</a></li>
          <li><a href="<%= @justified_nav_link %>">justified-nav</a></li>
          <li><a href="<%= @navbar_fixed_top_link %>">navbar-fixed-top</a></li>
          <li><a href="<%= @navbar_static_top_link %>">navbar-static-top</a></li>
          <li><a href="<%= @navbar_link %>">navbar</a></li>                              
          <li><a href="<%= @non_responsive_link %>">non-responsive</a></li>
          <li><a href="<%= @offcanvas_link %>">offcanvas</a></li>
          <li><a href="<%= @signin_link %>">signin</a></li>
          <li><a href="<%= @sticky_footer_navbar_link %>">sticky-footer-navbar</a></li>
          <li><a href="<%= @sticky_footer_link %>">sticky-footer</a></li>
          <li><a href="<%= @theme_link %>">theme</a></li>
        </ul>

    </div><!-- /.container -->

